/*TODAS LAS MEDIA QUERIES UTILIZADAS TANTO PARA MOBILE COMO PARA DESKTOP*/
@media screen and (min-width: 769px) and (max-width: 1068px) {

    .h1Index {
        margin-left: 45px;
    }
    video {
        width: 400px;
        height: 400px;
    }

    iframe {
        width: 600px;
        height: 360px;
    }

    .albumPadre {
        grid-template-columns: 275px 275px;
        grid-template-rows: 150px 270px 270px 270px 270px 270px;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        justify-content: center;
        justify-items: center;
        grid-template-areas:
            "h1 h1"
            "album1 album2"
            "album3 album4"
            "album5 album6"
            "album7 album8"
            "album9 album10"
    }

    section {
        a {
            img {
                width: 250px;
                height: 250px;
            }
        }
    }

    .h1 {
        width: 300px;
        max-width: max-content;
        margin: auto
    }

    .albumHijo1 {
        width: 250px;
        height: 250px;
    }

    .albumHijo2 {
        width: 250px;
        height: 250px;
    }

    .albumHijo3 {
        width: 250px;
        height: 250px;
    }

    .albumHijo4 {
        width: 250px;
        height: 250px;
    }

    .albumHijo5 {
        width: 250px;
        height: 250px;
    }

    .albumHijo6 {
        width: 250px;
        height: 250px;
    }

    .albumHijo7 {
        width: 250px;
        height: 250px;
    }

    .albumHijo8 {
        width: 250px;
        height: 250px;
    }

    .albumHijo9 {
        width: 250px;
        height: 250px;
    }

    .albumHijo10 {
        width: 250px;
        height: 250px;
    }

    footer {
        margin-top: 100px;
    }

    .h1Bio {
        display: flex;
        justify-content: center;
        justify-items: center;

    }
}

@media screen and (max-width: 768px) {
    .gridIndex {
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        grid-template-areas:
            " h1 "
            "video"
            "h2"
            "p"
            "iframe"
    }
    .h1Index {
        margin-left: 30px;
    }

    .albumPadre {
        grid-template-columns: 200px;
        grid-template-rows: 180px 240px 240px 240px 240px 240px;
        column-gap: 50px;
        grid-row-gap: 50px;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        grid-template-areas:
            "h1 h1"
            "album1 album2"
            "album3 album4"
            "album5 album6"
            "album7 album8"
            "album9 album10"
    }

    .albumHijo1 {
        width: 200px;
        height: 200px;
    }

    .albumHijo2 {
        width: 200px;
        height: 200px;
    }

    .albumHijo3 {
        width: 200px;
        height: 200px;
    }

    .albumHijo4 {
        width: 200px;
        height: 200px;
    }

    .albumHijo5 {
        width: 200px;
        height: 200px;
    }

    .albumHijo6 {
        width: 200px;
        height: 200px;
    }

    .albumHijo7 {
        width: 200px;
        height: 200px;
    }

    .albumHijo8 {
        width: 200px;
        height: 200px;
    }

    .albumHijo9 {
        width: 200px;
        height: 200px;
    }

    .albumHijo10 {
        width: 200px;
        height: 200px;
    }

    section {
        a {
            img {
                width: 200px;
                height: 200px;
            }
        }
    }

    .h1 {
        width: 160px;
        margin-bottom: 10px;
    }

    video {
        width: 350px;
        height: 350px;
    }

    h2 {
        height: 64px;
        width: 400px;
    }

    iframe {
        width: 450px;
        height: 360px;
    }

    .hijoContactoFlex {
        margin-top: 20px;
        width: 400px;
        height: 50px;
    }

    footer {
        margin-top: 100px;
    }

    section {
        div {
            h1 {
                margin-left: 50px;
                font-size: 50px;
            }
        }
    }

    div {
        h2 {
            margin-left: 60px;
        }
    }

}