
/*VARIABLES DECLARADAS DE SASS*/
$nav-fontfamily: 'Titillium Web', sans-serif;
$main-fontfamily: 'PT Serif Caption', serif;
$blueviolet-color: blueviolet;
$white-color: white;
$black-color: black;
$font-bolder: bolder