* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(35,36,48);
    background: linear-gradient(0deg, rgba(35,36,48,1) 18%, rgba(14,17,48,1) 30%, rgba(0,0,0,1) 100%);
}
nav ul li a {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    list-style-type: none;
    text-decoration: none;
    font-size: 17px;
    text-decoration: overline;  
}
header {
    /*position: sticky;*/
    top: 0px;
    z-index: 1;
}
footer div ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;
    font-weight: bolder;
}
.nav_link {
    font-family: 'Titillium Web', sans-serif;
    color: blueviolet;
    display:inline-block;
    width:10%;
    padding:5px 10px;
    /*background-color:grey;*/
    /*border:1px solid #000;*/
    text-align: center;
    color:#fff;
}
.mainFont {
    font-family: 'PT Serif Caption', serif;
    color: blueviolet;
}
nav a {
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
/*nav li:hover{
    background-color:#fff;
}*/
nav li a:hover {
    color: rgb(117, 5, 119);
}
.imgIndex {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
.textMain {
    display: block;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 35px;  
}
.videoMain {
    margin-bottom: 40px;
    grid-area: video;

}
.pMain {
    display: block;
    font-weight: bolder;
    margin-left: 15px;
    margin-bottom: 15px;
    grid-area: p;
}
iframe {
    grid-area: iframe;
}
footer li:hover {
    background-color: #fff;
}
footer li {
    display: inline;
    margin: 15px
}
footer {
    position: relative;
    top: 50px;
}
.titleBio {
    font-size: 65px;
    text-align: center;   
}
.pBio {
    line-height: 2;
}
.center {
    text-align: center;
}
.bolder {
    font-weight: bolder;
}
.centerTitle {
    text-align: center;
    margin-top: 100px;
}
.albumPadre {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 350px 350px 350px;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    justify-content: center;
    /*justify-items: center;*/
    /*margin-top: 80px;*/
    grid-template-areas:
    "h1 h1 h1"
    "album1 album2 album3"
    "album4 album5 album6"
    "album7 album8 album9"
    ". album10 ." ;

}
.h1Grid{
    grid-area: h1;
}
.albumHijo1 {
    grid-area: album1;
}
.albumHijo2 {
    grid-area: album2;
}
.albumHijo3 {
    grid-area: album3;
}
.albumHijo4 {
    grid-area: album4;
}
.albumHijo5 {
    grid-area: album5;
}
.albumHijo6 {
    grid-area: album6;
}
.albumHijo7 {
    grid-area: album7;
}
.albumHijo8 {
    grid-area: album8;
}
.albumHijo9 {
    grid-area: album9;
}
.albumHijo10 {
    grid-area: album10;
}
.gridIndex {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    /*grid-template-rows: 100px 600px 1fr 1fr 2fr;*/
    grid-template-areas:
    ". h1 ."
    ". video ."
    ". h2 ."
    ". p ."
    ". iframe ."
    
;
}
.h1Index {
    grid-area: h1;

}
.h2Index {
    grid-area: h2;
}
.navFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}


